# =========================
# Credentials
# =========================
credentials.json
token.json

# =========================
# Python virtual environment and cache
# =========================
.env
.venv/
venv/
env/
__pycache__/

*.py[cod]
*$py.class
*.db
*.sqlite
email_cache.db


# =========================
# editor and os system settings
# =========================
.vscode/
.DS_Store